<mat-accordion *ngIf="clientes.length > 0">
  <mat-expansion-panel *ngFor="let cliente of clientes">
    <mat-expansion-panel-header>{{cliente.nome}}</mat-expansion-panel-header>
    <p>Fone: {{cliente.fone}}</p>
    <p>Email: {{cliente.email}}</p>
    <mat-action-row>
      <button mat-button color="primary">EDITAR</button>
      <button mat-button color="warn">REMOVER</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1" style="text-align: center;" *ngIf="clientes.length <= 0">
  Nenhum Cliente Cadastrado
</p>
