<mat-spinner *ngIf="estaCarregando"></mat-spinner>
<mat-accordion *ngIf="clientes.length > 0 && !estaCarregando">
  <mat-expansion-panel *ngFor="let cliente of clientes">
    <mat-expansion-panel-header>{{cliente.nome}}</mat-expansion-panel-header>
    <p>Fone: {{cliente.fone}}</p>
    <p>Email: {{cliente.email}}</p>
    <mat-action-row>
      <button mat-button color="primary" [routerLink]="['/editar', cliente.id]">EDITAR</button>
      <button mat-button color="warn" (click)="onDelete(cliente.id)">REMOVER</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1" style="text-align: center;" *ngIf="clientes.length <= 0 && !estaCarregando">
  Nenhum Cliente Cadastrado
</p>
